# LABORATORIO #2 - Deteccion de SPAM
 Autor: Javier Estuardo 19202
 
 Autor: Marco Ramirez   19588

### Ingenieria de caracteristicas

* #### Exploracion de datos
    Para el laboratorio se proporcionan dos datasets distintos. Revise la data y realice las operaciones
necesarias para unificar los datasets y que el dataset final contenga el mensaje del correo y la etiqueta
que indique si es SPAM o no.
Muestre ejemplos de los datasets individuales y del dataset final

In [99]:
# Carga del primer dataset

import pandas as pd

df1 = pd.read_csv('completeSpamAssassin.csv')
df1.sample(n=5).head() # print a random sample of the DataFrame

      Unnamed: 0                                               Body  Label
146          146  Big and big\r\nMAIN PAGE\r\nHuge big titties @...      1
3890        3890  URL: http://www.newsisfree.com/click/-4,826802...      0
5232        5232  Working too hard...Someone tell me a joke, or ...      0
1572        1572                                              empty      1
1340        1340  Established Global Network Marketing Opportuni...      1

In [100]:
# Carga del segundo dataset

df2 = pd.read_csv('enronSpamSubset.csv')
df2.sample(n=5).head() # print a random sample of the DataFrame

,Unnamed: 0.1,Unnamed: 0,Body,Label
1495,6536,6536,Subject: get a universty d i p loma in just 7 ...,1
7447,32957,32957,Subject: from the enron india newsdesk - april...,0
2653,2039,2039,Subject: ( nasdaq ) watch a stock trade\r\n st...,1
1865,14612,14612,Subject: information is key to sto - ck succes...,1
6369,22328,22328,"Subject: enron / hpl actuals for july 24 , 200...",0

In [101]:
# Carga del dataset final

df1.drop(['Unnamed: 0'], axis=1, inplace=True)
df2.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

df = pd.concat([df1, df2])
df.sample(n=5).head() # print a random sample of the DataFrame

                                                   Body  Label
405   Subject: best prices for impotence drugs\r\n o...      1
5446  Subject: re : meter 1517\r\n daren - after che...      0
2113  Subject: pictures\r\n temperature each care tr...      1
409   \r\nDear Sir or MadamIn the past you have requ...      1
5067  ----------------------------------------------...      0

* #### Preprocesamiento

    Aplique las técnicas de pre – procesamiento de lenguaje natural que considere necesarias (conversión
de minúsculas, mayúsculas, eliminación de acentos, expansión de contracciones, eliminación de stop
words, etc.)

In [110]:
import contractions
def expandirContracciones(Body):
    Body = contractions.fix(Body)
    return Body

import re
def eliminarNumerosSimbolos(Body):
    patron = r'[^a-zA-Z\s]'
    Body = re.sub(patron,'', Body)
    return Body

import nltk
def removeStopWords(Body):
    tokens = nltk.word_tokenize(Body)
    stop_words_english = nltk.corpus.stopwords.words('english')
    tokens_filtrados_english = [token for token in tokens if token not in stop_words_english]
    return tokens_filtrados_english

df['Body'] = df['Body'].astype('string')
df = df['Body'].apply(eliminarNumerosSimbolos)
#df.dtypes
df.sample(n=5).head() # print a random sample of the DataFrame

TypeError: expected string or bytes-like object

* #### Representacion de texto
    Utilice los modelos de BoG (para n = 1,2) y TF-IDF. Muestre algunos ejemplos de los mensajes en su
representación numérica.

### Implementacion del modelo

* Separacion de datos : 

    * Datos de entrenamiento: 70% 
    * Datos de prueba: 30%

* Implementacion del modelo naive bayes

* Resultados del modelo

#### Conclusion
Compare los valores para cada modelo de representación numérico. ¿Qué modelo produjo el mejor
resultado, BoG o TF-IDF? ¿A que se debe la mejora? Explique los valores obtenidos en las métricas
para el mejor modelo.